.css-11ugdyo-MuiStepIcon-text, .css-m8a1uf-MuiSvgIcon-root-MuiStepIcon-root, .css-vnkopk-MuiStepLabel-iconContainer {
  display: none !important;
}
.css-i3a0ch-MuiStepLabel-labelContainer {
  cursor: pointer;
  &:hover {
    .css-i3a0ch-MuiStepLabel-labelContainer {
      opacity: 0.7;
    }
  }
}

.css-16d9uqe-MuiTreeItem-content .MuiTreeItem-iconContainer, .css-lk6bkx-MuiTreeItem-content .MuiTreeItem-iconContainer {
  width: 0 !important;
}

.css-16d9uqe-MuiTreeItem-content .MuiTreeItem-label, .css-lk6bkx-MuiTreeItem-content .MuiTreeItem-label {
  padding-left: 0 !important;
  font-size: 0.85rem !important;
  line-height: 2 !important;
}

.css-2cq9xd-MuiTreeView-root {
  height: auto !important;
}
.Menu {
  padding: 30px;
  height: 100%;
  min-width: 325px;
  overflow: auto !important;
  .me-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    .pic {
      width: 50px;
      height: 50px;
      background-image: url("../Images/me.jpeg");
      background-size: cover;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 20px;
    }
    .name {
      font-weight: 700;
    }
  }
}