.MuiStepIcon-text, .MuiSvgIcon-root-MuiStepIcon-root, .MuiStepLabel-iconContainer {
  display: none !important;
}
.MuiStepLabel-labelContainer {
  cursor: pointer;
  &:hover {
    .MuiStepLabel-labelContainer {
      opacity: 0.7;
    }
  }
}

.MuiTreeItem-iconContainer, .MuiTreeItem-iconContainer {
  width: 0 !important;
}

.MuiTreeItem-label, {
  padding-left: 0 !important;
  font-size: 0.85rem !important;
  line-height: 2 !important;
}

.MuiTreeView-root {
  height: auto !important;
}
.Menu {
  padding: 30px;
  height: 100%;
  min-width: 325px;
  overflow: auto !important;
  .me-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    .pic {
      width: 50px;
      height: 50px;
      background-image: url("../Images/me.jpeg");
      background-size: cover;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 20px;
    }
    .name {
      font-weight: 700;
    }
  }
}