.font-menu-item {
  &.Poppins {
    font-family: 'Poppins', sans-serif !important;
  }

  &.Lato {
    font-family: 'Lato', sans-serif !important;
  }

  &.M-Plus {
    font-family: 'M PLUS Code Latin', sans-serif !important;
  }
}