@import '_variables.scss';

#root {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.row {
  display: flex;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
}

.Main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1;
  //font-family: var(--font-family);
  //background: var(--background-color);
  //color: var(--text-color);
}